
div
  h2 #{title} (#{feeds.length}) &nbsp;
    a.btn.btn-medium.btn-success(href="#!/add") Add Feed
  div.spacer


each feed in feeds
  div.row.feed(id=feed._id)
    div.col-md-1
      if feed.icon != null
        img.favicon(src=feed.icon)
    div.col-md-8
      a.feedName(href="#!/feed?feed_id="+escape(feed._id)) @#{feed.title}
      div.tags
        each tag in feed.tags  
          span.label.mr10= tag

