h2 #{title} - @#{feed.title}

if feed.icon != null
  h3 Icon
  img.favicon(src=feed.icon)

h3 Type
div #{feed.type}

h3 Web URL
div #{feed.htmlUrl}

h3 Feed URL
div #{feed.xmlUrl}

h3 Last Article
div #{feed.lastModified}

h3 Tags
div.tags.container-fluid
  each tag in feed.tags  
    a.btn.btn-lg.mr10(href='Javascript:void()',onclick="removeTag('"+id+"','"+tag+"')")
      i.glyphicon.glyphicon-remove
      span &nbsp; #{tag}

  form#addtag(method="get",onsubmit="return addTag('"+id+"')")
    div.row
      div.col-sm-6
        div.input-group
          input#tagName.form-control(name="tag")
          div.input-group-btn
            input.btn.btn-success(type="submit",value="Add Tag")

h3 Remove Feed
a.btn.btn-danger(href='Javascript:void()',onclick="removeFeed('"+id+"')")
  i.glyphicon.glyphicon-remove
  span &nbsp; REMOVE
  
div.mb20

