!!! 5
html(lang='en')  
  include includes/header
  body 

    include includes/topbar                                             
    
    div.container


      ol
        each article in articles
          li(id=article._id)
            div.tweet
              div.feedName @#{article.feedName}
                span.tags
                  each tag in article.tags  
                    span.label.mr10= tag
              div.title= article.title
                a.close(href="Javascript:removeArticle('"+article._id+"')") &times;
              div.expand
                a.mr10(id="expand"+article._id,href="Javascript:readArticle('"+article._id+"')") Expand
                a.mr10.tobeshown(id="hide"+article._id,href="Javascript:hideArticle('"+article._id+"')") Hide
              div.showable.pb20(id="body"+article._id)
                a.btn.btn-success.mr10(href=article.link,target='_blank') Go
                a.btn(id="star"+article._id,href="Javascript:starArticle('"+article._id+"')")
                  i.icon-star
                div.mb10
                div(id="description"+article._id) Moo
                
                div.mb10

 
    include includes/footer
