!!! 5
html(lang='en')  
  include includes/header
  body 

    include includes/topbar                                             
    
    div.container


      ol
        each article in articles
          li(id=article._id)
            div.tweet
              div.feedName @#{article.feedName}
                span.tags
                  each tag in article.tags  
                    span.label.mr10= tag
              div.title= article.title
                a.close(href="Javascript:removeArticle('"+article._id+"')") &times;
              div.expand
                a.mr10(href="Javascript:readArticle('"+article._id+"')") Expand
              div.showable.pb20(id="body"+article._id)
                div!= article.description
                div.mb10
                a.btn.btn-success.mr10(href=article.link,target='_blank') Go
                a.btn(href="Javascript:hideArticle('"+article._id+"')") Hide  
              div.mb10
 
    include includes/footer
