
nav.navbar.navbar-default
  div.navbar-header
    a.navbar-brand #{title}
  ul.nav.navbar-nav.hidden-xs
    if (Object.keys(counts.bytag).length > 0)
      li.dropdown
        a(data-toggle='dropdown') Filter By Tag
          span.caret
        ul.dropdown-menu(role='menu',aria-labelledby='dropdownMenu1')
          li(role='presentation')
            each count,tag in counts.bytag
              a(role='menuitem',tabindex='-1',href='#!/'+type+'?tag='+escape(tag)) #{tag} (#{count})
    if (Object.keys(counts.byfeed).length > 0 )
      li.dropdown
        a(data-toggle='dropdown') Filter By Feed
          span.caret
        ul.dropdown-menu(role='menu',aria-labelledby='dropdownMenu1')
          li(role='presentation')
            each count,feed in counts.byfeed
              a(role='menuitem',tabindex='-1',href='#!/'+type+'?feed='+escape(feed?feed.replace("/","%2F"):'+')) #{feed} (#{count})    
each article in articles
  div.article(id=article._id)
    div.row
      div.col-md-1
        if article.icon != null
          img.bigicon(src=article.icon)
      div.col-md-11
        div.feedName 
          a.feedlink(href="#!/"+type+"?feed="+escape(article.feedName?article.feedName.replace("/","%2F"):"+")) @#{article.feedName}
          if article.icon != null
            img.miniicon(src=article.icon)
          span.tags.ml10
            each tag in article.tags  
              a(href="#!/"+type+"?tag="+escape(tag.toLowerCase()))
                span.label.label-default.mr10= tag
        div.title
          a(href="Javascript:readArticle('"+article._id+"')")= article.title
          span.diff &nbsp; #{article.diff}
          a.close(href="Javascript:removeArticle('"+article._id+"')") &times;
        a.summary(id="summary"+article._id,href="Javascript:readArticle('"+article._id+"')")= article.summary
        div.expand
          a.mr10(id="expand"+article._id,href="Javascript:readArticle('"+article._id+"')") Expand
          a.mr10.tobeshown(id="hide"+article._id,href="Javascript:hideArticle('"+article._id+"')") Hide
    div.row
      div.col-md-12
        div.showable.pb20(id="body"+article._id)
          a.btn.mr5(href=article.link,target='_blank')
            i.icon-share
          - if (article.starred)
            a.btn-warning.btn.mr5(id="star"+article._id,href="Javascript:unstarArticle('"+article._id+"')")
              i.glyphicon.glyphicon-star
          - else
            a.btn.mr5(id="star"+article._id,href="Javascript:starArticle('"+article._id+"')")
              i.glyphicon.glyphicon-star
          a.btn.mr5(href="http://twitter.com/share?url="+article.link,target="_new",rel="nofollow")
            i.icon-twitter
          a.btn.mr5(href="http://www.facebook.com/sharer.php?u="+article.link,target="_new",rel="nofollow")
            i.icon-facebook
          div.mb10
          iframe(class="article-description", src="api/#{article._id}/", srcdoc="#{article.description}", sandbox="allow-same-origin", seamless="seamless")
        hr

